In [12]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('1月.xlsx',sheet_name="莫寒")
print(df.head())

   买家会员名 买家支付宝账号  买家实际支付金额  订单状态 收货人姓名  \
0  mmbooks101       ********             41.86  交易成功     赵某人
1  mmbooks102       ********             41.86  交易成功     李某某
2  mmbooks103       ********             48.86  交易成功     高某某
3  mmbooks104       ********             48.86  交易成功     高某某
4  mmbooks105       ********             48.86  交易成功     高某某

                               收货地址     联系手机        订单创建时间  \
0                  贵州省 贵阳市 花溪区  1********** 2018-05-16 09:38:00
1  新疆维吾尔自治区 乌鲁木齐市 水磨沟区  1********** 2018-05-09 15:31:00
2    云南省 红河哈尼族彝族自治州 开远市  1********** 2018-05-25 15:21:00
3    云南省 红河哈尼族彝族自治州 开远市  1********** 2018-05-14 20:21:00
4    云南省 红河哈尼族彝族自治州 开远市  1********** 2018-05-22 18:47:00

        订单付款时间                  宝贝标题  宝贝种类          物流单号  \
0 2018-05-16 09:41:00  Android项目开发实战入门          1  No:221307653963
1 2018-05-09 15:31:00  Android项目开发实战入门          1  No:221307653740
2 2018-05-25 15:21:00  ASP.NET项目开发实战入门          1  No:221307653898
3 2018-05-14 20:22:00  ASP.NET项目开发实战入门          1  No:221307653892
4 2018-05-22 18:47:00       C#项目开发实战入门          1  No:221307653942

   物流公司 订单备注  宝贝总数量      类别 图书编号
0  申通快递    'null           1  全彩系列      B16
1  申通快递    'null           1  全彩系列      B16
2  申通快递    'null           1  全彩系列      B17
3  申通快递    'null           1  全彩系列      B17
4  申通快递    'null           1  全彩系列      B18

In [21]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('1月.xlsx',index_col=0)
print(df.head())

            买家实际支付金额 收货人姓名            宝贝标题
买家会员名
mrhy1                  41.86     周某某      零基础学Python
mrhy2                  41.86     杨某某      零基础学Python
mrhy3                  48.86     刘某某      零基础学Python
mrhy4                  48.86     张某某      零基础学Python
mrhy5                  48.86     赵某某  C#项目开发实战入门

In [29]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('1月.xlsx',header=1)
print(df.head())

   mrhy1  41.86  周某某      零基础学Python
0  mrhy2  41.86  杨某某      零基础学Python
1  mrhy3  48.86  刘某某      零基础学Python
2  mrhy4  48.86  张某某      零基础学Python
3  mrhy5  48.86  赵某某  C#项目开发实战入门
4  mrhy6  48.86  李某某  C#项目开发实战入门

In [34]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('1月.xlsx',usecols=[0])
print(df.head())

  买家会员名
0      mrhy1
1      mrhy2
2      mrhy3
3      mrhy4
4      mrhy5

In [38]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('1月.xlsx',usecols=['买家会员名','宝贝标题'])
print(df.head())

  买家会员名            宝贝标题
0      mrhy1      零基础学Python
1      mrhy2      零基础学Python
2      mrhy3      零基础学Python
3      mrhy4      零基础学Python
4      mrhy5  C#项目开发实战入门

In [61]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
print(df.loc['明日'])
print(df.loc[['明日','七月流火']])
print(df.iloc[[0,1]])

语文    110.0
数学    105.0
英语     99.0
Name: 明日, dtype: float64
          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0

In [66]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
print(df.loc[:,['语文','数学']])#抽取语文和数学
print(df.iloc[:,[0,1]])#抽取第一列和第二列
print(df.loc[:,'语文':])#抽取从语文开始到最后一列
print(df.iloc[:,:2])#连续抽取从第一列开始到第三列

          语文  数学
明日       110   105
七月流火   105    88
高圆圆     109   120
二月二     112   115
          语文  数学
明日       110   105
七月流火   105    88
高圆圆     109   120
二月二     112   115
          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高圆圆     109   120  130.0
二月二     112   115    NaN
          语文  数学
明日       110   105
七月流火   105    88
高圆圆     109   120
二月二     112   115

In [73]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
print(df.loc['七月流火','英语'])#英语成绩
print(df.loc[['七月流火'],['英语']])#七月流火的数学和英语成绩
print(df.loc[['七月流火'],['数学','英语']])
print(df.loc[:,['数学','英语']])

115.0
           英语
七月流火  115.0
          数学   英语
七月流火    88  115.0
          数学   英语
明日       105   99.0
七月流火    88  115.0
高圆圆     120  130.0
二月二     115    NaN

In [81]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
print(df.iloc[[1],[2]])
print(df.iloc[1:,[2]])
print(df.iloc[1:,[0,2]])
print(df.iloc[:,[2]])

           英语
七月流火  115.0
           英语
七月流火  115.0
高圆圆    130.0
二月二      NaN
          语文   英语
七月流火   105  115.0
高圆圆     109  130.0
二月二     112    NaN
           英语
明日       99.0
七月流火  115.0
高圆圆    130.0
二月二      NaN

In [85]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
print(df.loc[(df['语文'] > 105) & (df['数学'] > 88)])#抽取语文成绩大于105分，数学成绩大于88分的数据

        语文  数学   英语
明日     110   105   99.0
高圆圆   109   120  130.0
二月二   112   115    NaN

In [86]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df['物理'] = [88,79,60,50]
print(df)

          语文  数学   英语  物理
明日       110   105   99.0    88
七月流火   105    88  115.0    79
高圆圆     109   120  130.0    60
二月二     112   115    NaN    50

In [87]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df.loc[:,'物理'] = [88,79,60,50]
print(df)

          语文  数学   英语  物理
明日       110   105   99.0    88
七月流火   105    88  115.0    79
高圆圆     109   120  130.0    60
二月二     112   115    NaN    50

In [88]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
wl = [88,79,60,50]
df.insert(1,'物理',wl)
print(df)

          语文  物理  数学   英语
明日       110    88   105   99.0
七月流火   105    79    88  115.0
高圆圆     109    60   120  130.0
二月二     112    50   115    NaN

In [89]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df.loc['钱多多'] = [100,120,99]
print(df)

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高圆圆     109   120  130.0
二月二     112   115    NaN
钱多多     100   120   99.0

In [97]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df_insert=pd.DataFrame({'语文':[100,123,138],'数学':[99,142,60],'英语':[98,139,99]},index=['钱多多','童年','无名'])
df1 = pd.concat([df,df_insert])#合并
print(df1)

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高圆圆     109   120  130.0
二月二     112   115    NaN
钱多多     100    99   98.0
童年       123   142  139.0
无名       138    60   99.0

In [98]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df.columns=['语文','数学(上)','英语']
print(df)

          语文  数学(上)   英语
明日       110       105   99.0
七月流火   105        88  115.0
高圆圆     109       120  130.0
二月二     112       115    NaN

In [100]:
#修改多个学科的列名
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df.rename(columns={'语文':'语文(上)','数学':'数学(上)'},inplace=True)
print(df)

          语文(上)  数学(上)   英语
明日           110       105   99.0
七月流火       105        88  115.0
高圆圆         109       120  130.0
二月二         112       115    NaN

In [101]:
#修改行标题
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df.index=list('1234')
print(df)

   语文  数学   英语
1   110   105   99.0
2   105    88  115.0
3   109   120  130.0
4   112   115    NaN

In [ ]:
#使用rename方法修改行标题
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高圆圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,index=name,columns=columns)
df.rename({})